main {
  min-height: 80vh;
}

.brand {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 0px;
  color: #fff;
  padding: 10px 20px 10px 20px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
